<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script rel="script" src="/javascripts/helpers.js"></script>
  </head>
  <body onload="fillForm('{{from_code}}', '{{from_amnt}}', '{{to_code}}', '{{to_amnt}}')">
      <div class="card">
          {{{body}}}
          <br>
          <hr>
          <a href="/">HOME</a> |
          <a href="/about">ABOUT</a>
      </div>
  </body>
</html>
